body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', serif;
}

.nav {
    background-color: black;
    color: white;
    list-style: none;
    text-align: right;
    padding: 20px 0 20px 0;
    box-shadow: 0 35px 35px 0x rgba(0,0,0,0.5);
    margin-bottom: 0;
}

.nav > li {
    display:inline-block;
    padding: 0 25px 0 25px'
    font-size: 12 px;
}

.nav > li > a {
    text-decoration: none;
    color: white;
    padding: 0 30px 0 0;
}

.nav > li > a.hover {
    color: #c1c1c1;
}

.logo {
    color: white;
    width: 120px;
    margin: 0 auto;
    
    float: left;
}

#reservation-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#lot-container, #car-container {
   display: flex;
   flex-direction: column;
   border-right: 1px solid black;
}

#lot-container > div, #car-container > div {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: #BDBDBD;
    cursor: pointer;
}
