body {
    margin: 0;
    padding: 0;
    background: url(road.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    font-family: sans-serif;
}

.registrationbox{
    width: 320px;
    height: 450px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing:border-box;
    padding: 70px 30px;
    opacity: 0.8;   
}

.registrationbox input[type="text"], input[type="password"], input[type="name"], input[type = "Address"], input[type="Phone"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    
}

.registrationbox div#registration{
    margin: 0 0 20px 0;
}

.registrationbox button{
    width: 100%;
    height: 40px;
    font-size: 18px;
    border-radius: 20px;
    margin: 40px 0 16px 0;
}


